@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Outfit-Bold;
  src: url(./styles/Outfit/static/Outfit-Bold.ttf);
}
@font-face {
  font-family: Outfit-Regular;
  src: url(./styles/Outfit/static/Outfit-Regular.ttf);
}
